rainfall analysis

In [1]:
# The code was removed by Watson Studio for sharing.

  Country or Area  Year    Value Value Footnotes                  Unit
0         Albania  2015  32711.0             NaN  million cubic metres
1         Albania  2014  37172.0             NaN  million cubic metres
2         Albania  2013  30615.0             NaN  million cubic metres
3         Albania  2012  28058.0             NaN  million cubic metres
4         Albania  2011  30569.0             NaN  million cubic metres